@{
    ViewData["Title"] = "Home Page";
}
<div class="text-left">
    <h6 class="display-1">Barcode & QR </h6>
    <hr/>
    <p style="font-family:courier;
             text-align:left;
             font-weight:bold;">
        A barcode, consisting of bars and spaces, is a machine-readable representation of numerals and characters. Today, stripes
        as shown below on packages of products sold at supermarkets, convenience stores and other stores are ubiquitous. These are
        barcodes. A barcode consists of bars and spaces of varying width that can be read with an optical barcode scanner.
        Barcodes are applied to products to quickly identify them. Among their many uses, barcodes are typically used in retail 
        stores as a part of the purchasing process, in warehouses to track and manage inventory and on invoices to help with accounting.
        <br>
        <br>
        QR stands for "Quick Response". It is a machine-readable code consisting of an array of black and white squares,
        typically used for storing URLs or other information for reading by the camera on a smartphone.
        QR codes are frequently used to track information about products in a supply chain and – because many smartphones
        have built-in QR readers – they are often used in marketing and advertising campaigns. More recently, they have played
        a key role in helping to trace coronavirus exposure and slow the spread of the virus.
    </p>
    <br><br>
    <p style="font-family: arial;
              text-align: center; 
              font-weight: bold;">
        This Website generates QR code and Barcode which can be read and scanned.
    </p>
</div>

